/*colors
ff6b35 f7c59f eeebd3 f7c548 3b7080 3a7f57
pumpkin peach eggshell yellow blue  green
*/

body {
  margin: 50px;
  margin-bottom: 60px;
  background-color: #EEEBD3;
  background: -webkit-linear-gradient(to right, #EEEBD3, #f7c59f ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #EEEBD3, #f7c59f ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  color: #3a7f57;
  font-family: 'Roboto', sans-serif;
  box-sizing: border-box;
}

.monkeysay{
    background-color: #FF6B35;
    color: #EEEBD3;
    margin: 20px;
    padding: 20px;
}

/*.help-block{
  font-size: .8em;
  line-height: 95%;
  margin: 6px;
  padding: 6px;
}*/
.progress-footer{
  margin: 6px;
  padding: 6px;    
}

/* the countdown thermometer thing */

.progress {
  width: 100%;
  height: 50px;
}
.progress-wrap {
  background: #3a7f57;
  margin: 20px 0;
  overflow: hidden;
  position: relative;
}
.progress-wrap .progress-bar {
    background: #ddd;
    left: 0;
    position: absolute;
    top: 0;
}



