---
layout: default

---



<div class="home">

  <h1 class="page-heading">This monkey's 100 Days of Code Progress is no longer tracked here</h1>

  <a href="http://jessachandler.com/code/">find me at my new home</a>
  <ul class="post-list">
    {% for post in site.posts %}
      <li>
        <h2>
          <a class="post-link" href="{{ post.url | relative_url }}">{{ post.title | escape }}</a>
         </h2>
        {% assign date_format = site.minima.date_format | default: "%Y-%m-%d" %}
        <span class="post-meta">{{ post.date | date: date_format }}
            {% capture words %}
              {{ post.content | number_of_words | minus: 250 }}
            {% endcapture %}
            {% unless words contains "-" %}
              {{ words | plus: 250 | divided_by: 180 | append: " min read" }}
            {% endunless %}
          </span>
              {{ post.excerpt | strip_html | truncatewords:30 }}
      </li>
    {% endfor %}

  </ul>



</div>
